<!-- <ion-header [translucent]="true">
  <ion-toolbar style="--background: #1a237e;">
    <ion-title class="ion-text-center" style="color: white;">
      Registro de Paciente
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">

  <app-card>
    
    <div class="subtitle">
      <app-subtitle title="Nuevo Paciente" description="Complete los datos para registrar al paciente"/>
    </div>

    <app-form-paciente/>
    
  </app-card>

</ion-content>