.body-modal {
  .pacient {
    p {
      text-align: center;
      color: white !important;
    }
  }

  .result {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .reseult-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .imagen {
        width: 150px;
        height: 200px;
        overflow: hidden;
      }
      .information {
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          text-align: center;
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: uppercase;
          color: black !important;
          // &::after {
          //   content: "";
          //   display: block;
          //   width: 100%;
          //   height: 2px;
          //   background-color: black !important;
          // }
        }

    .recomendacion {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 8px;
      font-size: 0.9rem;
      margin-top: 8px;
      text-align: left;
      p {
        color: #000 !important;
      }
    }

      .recomendacion.leve {
        border-left: 5px solid #4caf50; /* Verde */
        background-color: rgba(76, 175, 80, 0.1);
      }

      .recomendacion.moderado {
        border-left: 5px solid #ff9800; /* Naranja */
        background-color: rgba(255, 152, 0, 0.1);
      }

      .recomendacion.grave {
        border-left: 5px solid #f44336; /* Rojo */
        background-color: rgba(244, 67, 54, 0.1);
      }

        .content {
          p{
            color: black !important;
          }
        }
      }
    }
  }
}

p {
  color: white !important;
}
