<form enctype="multipart/form-data" [formGroup]="formulario" method="post" (submit)="submitForm()">
  <ion-input label="Correo Electronico" label-placement="floating" fill="solid" formControlName="email"
    placeholder="Correo Electronico ..."></ion-input>
  <ion-input label="Contraseña" label-placement="floating" fill="solid" formControlName="password"
    placeholder="Contraseña ..."></ion-input>
  <app-button type="submit" name="Ingresar" class="btn-auth" [differentColor]="false" />
</form>
