.content-modal {
  padding: 10px;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  height: calc(100% - 22px);

  .btn-add-upd-paciente {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
