.content-modal {
  padding: 10px;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  height: calc(100% - 22px);

  .buttom-form {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
    .btn-add-upd-paciente {
      width: 100%;
    }
  }
}
