<!-- <app-header [title]="titulo()" path="" [isModal]="true" /> -->

<ion-content [fullscreen]="true" class="form-ion-content">
  <form enctype="multipart/form-data" method="post" [formGroup]="formulario" (submit)="submitForm()">
    <app-card class="card-form-patient">
      <div class="header-modal">
        <div class="title-pages">
          <p>Datos</p>
          <p>de Pacientes</p>
        </div>
        <div class="icon-close">
          <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
        </div>
      </div>


      <div class="content-form">
        <ion-input label="Nombre" label-placement="floating" fill="solid" formControlName="nombre"
          placeholder="Nombre ..."></ion-input>
        <ion-input label="Apellido" label-placement="floating" fill="solid" formControlName="apellido"
          placeholder="Apellido ..."></ion-input>
        <ion-input label="N° DNI" label-placement="floating" min="8" minlength="8" maxlength="8" max="8" fill="solid"
          formControlName="dni" placeholder="Dni ..."></ion-input>
      </div>
    </app-card>

    <div class="buttom-form">
      <app-button type="submit" class="btn-add-upd-paciente" name="Guardar Paciente" [differentColor]="true" />
    </div>
  </form>
</ion-content>
