/* === CARD  ===*/
.card-login-img,
.card-patient-history,
.card-form-patient {
  width: 100% !important;
  display: flex !important;
  overflow: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.card-patient-history {
  background: #ffffff !important;
  flex-direction: column !important;
  height: 100%;
  border-radius: 0 0 50px 50px !important;
  overflow: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.card-form-patient {
  background: #17223c !important;
  height: 100%;
  border-radius: 0 0 60px 60px !important;
}

.card-login-img {
  background: #d9dfef !important;
  border-radius: 0 0 70px 70px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* === CARD -RESULT ===*/

.card-result-poi {
  cursor: pointer !important;
}

.card-result-def {
  cursor: default !important;
}
