// @import url("https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Libertinus Sans", sans-serif;
  src: url("/src/assets/font/LibertinusSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Sans", sans-serif;
  src: url("/src/assets/font/LibertinusSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Sans", sans-serif;
  src: url("/src/assets/font/LibertinusSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
