.item-list {
  display: flex;
  flex-direction: column;
  -webkit-margin-start: 0 !important;
  margin-inline-start: 0 !important;
  -webkit-margin-end: 0 !important;
  margin-inline-end: 0 !important;
  margin-top: 0 !important;
  margin-inline: 1rem !important;
  /* margin-bottom: 16px; */
  gap: 10px !important;

  ion-item-sliding {
    border-radius: 12px;
    overflow: hidden;
    background: transparent !important;
    ion-item {
      overflow: hidden;
      background: transparent !important;
      --background: #dddee3; /* Fondo tipo card */
      --border-radius: 12px;
      --padding-start: 12px;
      --inner-padding-end: 12px;
      --inner-border-width: 0;
      --inner-border-color: transparent;
      --border-color: transparent;
      --border-width: 0;

      /* quitar highlight / hover / focus */
      --background-activated: transparent;
      --background-hover: transparent;
      --background-focused: transparent;

      border-radius: 12px;
      border: 1px solid rgba(0, 0, 0, 0.05);

      &.ion-activated {
        /* quitar solo sombra extra, no tocar transform X */
        box-shadow: none;
        transition: box-shadow 0.08s linear;
      }

      ion-ripple-effect {
        display: none;
      }
    }
  }

  ion-item-options {
    padding: 3px;
    gap: 2px;
    ion-item-option {
      border-radius: 20px;
    }
  }
}
