<ion-content [fullscreen]="true">
  <app-card class="card-patient-history">

    <div class="header-pages-patient-history">
      <div class="title-pages">
        <p>Historial</p>
        <p>de Pacientes</p>
      </div>
      <div class="icon-search">
        <ion-icon class="icon-search" name="search-outline" (click)="search()"></ion-icon>
      </div>
    </div>

    <div class="patient-search" [class.open-patient-search]="searchOpenClose()">
      <ion-searchbar class="search-input" (ionInput)="handleInput($event)"
        placeholder="Buscar Paciente"></ion-searchbar>
    </div>

    <!-- ITEMS - PACIENTES -->
    <ion-list [inset]="true" mode="md" class="item-list">
      @for (item of listPacienteFiltro(); track $index) {
      <ion-item-sliding>
        <ion-item [button]="true">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label class="info-paciente">
            <div class="name">{{item.nombre}} {{item.apellido}}</div>
            <div class="document">{{item.dni}}</div>
          </ion-label>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="warning" (click)="analityImagen(item)">
            <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="tertiary" (click)="addUpdPaciente(item)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deletePaciente(item)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      }
    </ion-list>

    <!-- BOTON PARA ABRIR EL MODAL DE CREAR/EDITAR PACIENTE -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button mode="ios" (click)="addUpdPaciente()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </app-card>



</ion-content>
