.content-patient {
  margin: 1rem 0 2rem 0;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .content-card {
    display: flex;
    align-items: center;
    gap: 10px;
    .container-logo-patient {
      .logo-patient {
      }
    }
  }
}

ion-fab {
  ion-fab-button {
    --background: #17223c;
    --color: #f6f7fb;
    --background-activated: #17223c;
    --background-hover: #17223c;

    //#17223c
    //#dddee3
    //#ffffff
    //#f6f7fb
  }
}
