.sub-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    h2 {
        padding: 0;
        margin: 0;
        text-align: center;
        color: #1a237e;
        width: max-content;
        font-weight: 700;
        font-size: clamp(2rem, 2.1vh, 2.4rem);
    }

    h2::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #1a237e;
    }

    p {
        padding: 0;
        margin: 0;
        color: #616161;
        font-size: clamp(1rem, 1.7vh, 1.9rem);
    }
}
