/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --background: #fdfdfd;
  --color-primary: #873fdf;
  --color-secundary: #4263f0;
  --color: #093073;
  --test: #6652ee;
}
/* ==== HEADER ====*/
.toolbar-background {
  background: #873fdf !important;
}
.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  .logo {
    overflow: hidden;
    width: 160px;
    height: 160px;
  }
}

ion-input {
  --color: #093073;
  --placeholder-opacity: #093073;
  --placeholder-color: #093073;
  --highlight-color-valid: #093073;
  --placeholder-color: black;
  border-radius: 10px;
  color: black !important;
  overflow: hidden;
}

ion-content.md.content-ltr.hydrated {
  position: relative;
  --offset-top: 0px !important;
  --offset-bottom: 0px !important;
  --keyboard-offset: 0px !important;
}
