@use "./styles/font.scss";
@use "./styles/card.scss";
@use "./styles/input.scss";
@use "./styles/button.scss";
@use "./styles/modal.scss";
@use "./styles/item.scss";

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

//#17223c
//#dddee3
//#ffffff
//#f6f7fb

html,
body,
app-root {
  background: #17223c !important;
}

ion-content {
  background: #17223c !important;
  --background: #17223c !important;
  scrollbar-width: none;
}

.form-ion-content {
  background: #ffffff !important;
  --background: #ffffff !important;
  scrollbar-width: none;
  height: 100% !important;
}

p {
  margin: 0;
  padding: 0;
}

ion-content::-webkit-scrollbar {
  display: none;
}

.header-pages-patient-history,
.header-pages-patient-result {
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  background-color: #ffffff;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  gap: 10px;
  .title-pages {
    p {
      font-family: "Libertinus Sans";
      color: #17223c;
      font-size: clamp(2rem, 2.4rem, 3rem);
      font-weight: 900;
    }
  }

  .icon-search {
    ion-icon {
      cursor: pointer;
      animation: pulser 7s ease infinite;
      font-size: clamp(1.4rem, 1.8rem, 2rem);
    }
  }
}

/* ==== HEADER ====*/
// .toolbar-background {
// background: #873fdf !important;
// }
// .example-content {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
// }

// .ios.overscroll.content-ltr.hydrated {
//   --offset-top: 0px !important;
//   --offset-bottom: 0px !important;
//   --keyboard-offset: 0px !important;
// }

// .container-logo-patient {
//   display: flex;
//   justify-content: center;
// }

/* === CONTENIDO DEL LOGO ===*/

.container-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  .logo,
  .logo-intro,
  .logo-patient {
    border-radius: 50%;
    overflow: hidden;
  }
  .logo {
    width: 300px;
    height: 290px;
  }

  .logo-intro {
    width: 180px;
    height: 180px;
  }
  .logo-patient {
    width: 80px;
    height: 80px;
  }
}

@keyframes pulser {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
