<ion-menu contentId="main-content">
  <app-header title="CogniView"/>
  <ion-content class="ion-padding">

  </ion-content>
</ion-menu>

<ion-tabs id="main-content">
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button tab="history-paciente">
      <ion-icon name="people-outline"></ion-icon>
      Pacientes
    </ion-tab-button>
    <ion-tab-button tab="result-paciente">
      <ion-icon name="clipboard-outline"></ion-icon>
      Resultados
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
